.container {
  height: 100dvh;
  overflow-y: auto;
  padding-bottom: 80px;
}

.container::-webkit-scrollbar {
  width: 4px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background: #E8DEF8;
  border-radius: 4px;
}

.pagination {
  position: fixed;
  bottom: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}