@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  font-family: 'Courier New', monospace;
}

body {
  background-color: #282A31; /* light gray */
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
}

html, body {
  overflow-x: hidden;
  overflow-y: hidden; 
}
