.canvasBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; 
  pointer-events: none;
}

.paginationWrapper {
  position: absolute;
  bottom: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}