/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/styles/globals.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  --font-dm-sans: 'DM Sans', sans-serif;
}

body {
  background-color: #282A31; /* light gray */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  overflow-x: hidden;
  overflow-y: hidden; 
}
